openapi: 3.1.0
info:
  title: API Bibliothèque HEI
  description: Gestion de livres et des emprunts
  version: 1.0.0

servers:
  - url: https://api.hei.school/v1
  - url: https://staging.hei.school/v1
    description: Environnement de test
paths:
  /livres:
    get:
      summary: Lister les livres
      parameters:
        - in : query
          name : page
          description: Numéro de la page à récupérer
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          description: Nombres maximum de livres à retourner par page
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Livre trouvé
    post:
      summary: Créer un livre
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - titre
              properties:
                titre:
                  type: string
                auteur:
                  type: string
      responses:
        '201':
          description: Livre créé
        '422':
          description: Données invalides

  /livres/{id}:
    get:
      summary: Lister les livres
      parameters:
        - name: id
          in: path
          schema:
            type: {integer}
          required: true

    put:
      summary: Remplacer un livre
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - titre
              properties:
                titre:
                  type: string
                auteur:
                  type: string

      responses:
        '200':
          description: Livre

        '404' :
          description: Livre introuvable

        '422':
          description: Données invalides

    patch:
      summary: Modifier partiellement un livre
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                titre:
                  type: string
                auteur:
                  type: string
      responses:
        '200':
          description: Livre mis à jour
        '404':
          description: Livre introuvable
        '422':
          description: Données invalides

    delete:
      summary: Supprimer un livre
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Livre supprimé avec succès (sans corps de retour)
        '404':
          description: Livre introuvable